
.jumbotron-intro {
    color: #fff;
    background: url("/public/img/logo.svg") no-repeat 0 0;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;

  
.arrow-down{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    min-width: 100%;
    // background-color: red;
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 48%;
} 

}
 

img.responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
