
@import "_colors";
@import "_circles";

.detailpage {
  background-color: $swatch_2;
  color: #923026;
}

// NAV om deze te simuleren indien Roger reeds een maakte
nav{
  height: 100px;
  width: 100vw;
  background: $swatch_6;
  text-align: center;
  display: flex;

  //Logo tmDB
  img{
    margin: auto;
    height: 80px;
  }
}

//Hero
.jumbotron{
  background: rgba(0,0,0,.5);
  position: relative;
  color: white;
  min-height: 70vh;

  &::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://image.tmdb.org/t/p/w1280/5myQbDzw3l8K9yofUXRJ4UTVgam.jpg') no-repeat center center / cover;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.row--hero{
  padding-top: 4rem;
}